{:deps {org.clojure/clojure       {:mvn/version "1.12.0-alpha3"}
        org.scicloj/clay {:mvn/version "2-alpha72"}
        org.scicloj/noj {:mvn/version "1-alpha24"}
        vald-client-clj/vald-client-clj {:mvn/version "v1.7.10"}
        io.grpc/grpc-core {:mvn/version "1.61.0"}
        io.grpc/grpc-stub {:mvn/version "1.61.0"}
        io.grpc/grpc-protobuf {:mvn/version "1.61.0"}
        io.grpc/grpc-netty-shaded {:mvn/version "1.61.0"}
        net.clojars.wkok/openai-clojure {:mvn/version "0.15.0"}}
 :paths ["notebooks"]}
