


{:deps {org.clojure/clojure       {:mvn/version "1.12.0-alpha3"}
        org.scicloj/kindly-default {:mvn/version "1-alpha8"}
        org.scicloj/clay {:mvn/version "2-alpha27"}
        org.scicloj/kind-portal {:mvn/version "1-alpha2"}
        org.scicloj/noj {:mvn/version "1-alpha9"}
        org.dhatim/fastexcel-reader {:mvn/version "0.12.8"
                                     :exclusions [org.apache.poi/poi-ooxml]}
        techascent/tech.parallel {:mvn/version "2.11"}}
 :paths ["src" "notebooks"]}
