[{:created "2023-12-16"
  :title "data processing"
  :url "projects/data-processing/index.html"
  :source-path "projects/data-processing"
  :tags []}
;;  {:created "2023-12-16"
;;   :title "noj"
;;   :url "projects/noj/index.html"
;;   :source-path "projects/noj"
;;   :tags []}
 {:created "2023-12-16"
  :title "datavis with python/seaborn"
  :url "projects/datavis/python/plotting/index.html"
  :source-path "projects/datavis/python/plotting"
  :tags []}
 {:created "2023-12-16"
 :title "datavis with ggplot"
 :url "projects/datavis/ggplot/index.html"
 :source-path "projects/datavis/ggplot"
 :tags []}
 

 ]
