{:remote-repo {:git-url "https://github.com/scicloj/clojure-data-scrapbook"
               :branch "main"}
 :base-target-path "temp"
 :quarto {:title "Creating Echarts plots with transpiled Javascript"
          :include-in-header {:text "<meta property=\"og:image\" content=\"https://scicloj.github.io/sci-cloj-logo-transparent.png\"/>
<meta property=\"og:title\" content=\"Creating Echarts plots with transpiled Javascript\"/>
<meta property=\"og:description\" content=\"A notebook of the Clojure Data Scrapbook\"/>
<link rel = \"icon\" href = \"data:,\" />"}}}
