{:deps  {org.clojure/clojure {:mvn/version "1.12.0-alpha5"}
         org.scicloj/clay {:mvn/version "2-alpha52"}
         org.scicloj/noj {:mvn/version "1-alpha22"}
         com.cnuernber/charred {:mvn/version "1.033"}
         clj-http/clj-http {:mvn/version "3.12.3"}
         org.scicloj/tempfiles {:mvn/version "1-alpha2"}
         listora/again {:mvn/version "1.0.0"}
         techascent/tech.parallel {:mvn/version "2.11"}
         ;; org.jgrapht/jgrapht {:mvn/version "1.5.2"}
         aysylu/loom {:mvn/version "1.0.2"}}
 :paths ["src"]}
